main{
    width: 100%;
    background: #f5f5f5;
    .container{
        padding-top:28px;
        .detailsImg{
            background: #fff;
            height: 632px;
            padding:70px 0px 0px 95px;
            margin-bottom:18px;
            .detailsImg1{
                width: 52px;
                padding-top:20px;
                img{
                    width: 50px;
                    border:1px solid #ccc;
                    margin-bottom:10px;
                }
            }
            .detailsImg2{
                width: 384px;
                img{
                    width: 384px;
                    margin-left:20px;
                }
            }
            .detailsImg3{
                color:#999;
                font-size:10px;
                width: 510px;
                padding-top:20px;
                p{
                    padding:10px 0px;
                }
                .detailsImgName{

                    font-size:24px;
                    color:#333;
                }
                .detailsImgType{
                    color:#555;
                }
                .detailsImgPrice{
                    font-size:18px;
                    font-weight:bold;
                    color:#333;
                }
                .detailsImgColor{
                    span{
                        font-size:14px;
                        color:#333;
                        font-weight:bold;
                    }
                }
                .detailsImgSize{
                    span{
                        display:inline-block;
                        width: 54px;
                        height: 30px;
                        text-align:center;
                        border:1px solid #333;
                        color:#333;
                        border-radius:2px;
                        line-height: 30px;
                        margin-right:5px;
                    }
                    
                }
                .declareP{
                    a{
                        color:#999;
                    }
                }
                .buyP{
                    position:relative;
                    span{
                        display:inline-block;
                        width: 152px;
                        height: 46px;
                        text-align:center;
                        border:1px solid #ccc;
                        line-height: 46px;
                        font-size:14px;
                        color:#fff;
                        margin-right:10px;
                        &:nth-child(1){
                            background: #333;
                        }
                        &:nth-child(2){
                            background: #c53f40;
                        }
                    }
                    i{
                        width: 43px;
                        height: 43px;
                        border:1px solid #ccc;
                        display:block; 
                    }
                    .love{
                        background: url(../img/details1.gif) 0px -13px;
                        position:absolute;
                        top:11px;right:142px;
                    }
                    .link{
                        background: url(../img/details1.gif) 0px -56px;
                        position:absolute;
                        top:11px;right:87px;
                    }
                }

            }
        }
        .goodsCommend,.yourLike{
            background: #fff;
            height: 420px;
            padding:0px 20px 0px 20px;
            margin-bottom:98px;
            ul{
                height: 300px;
                padding-top:30px;
                .commendBtn{
                    margin-top:100px;
                }
                .commendLi{
                    width: 290px;
                    padding:0px 56px;
                    img{
                        width: 160px;
                    }
                    p{
                        font-size:10px;
                        color:#999;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        line-height: 26px;
                        text-align:center;
                    }
                    .nameP{
                        font-weight:bold;
                        color:#333;
                    }
                }


            }
        }
        .yourLike ul .commendLi{
            width: 300px;
        }
        .goodsInformation{
            padding:0px 20px;
            background: #fff;
            height: 340px;
            margin-bottom:18px;
            .informationGoods{
                height: 260px;
                padding:20px 40px;
                font-size:10px;
                color:#666;
                line-height: 52px;
                text-align:left;
                
                table tr{
                    th,td{
                        height: 52px;
                    }
                    th{
                        width: 70px;
                        font-weight:100;
                    }
                    td{
                        width: 200px;
                        color:#999;
                    }
                }
                .description{
                    color:#999;
                }
                
            }
        }
        
        .brandStory{
            padding:0px 20px;
            background: #fff;
            font-size:14px;
            color:#909090;
            margin-bottom:16px;
            .BS{
                padding:40px 0px;
                .storyBrand{
                    width: 800px;
                    padding:27px 50px;
                    line-height: 20px;
                    border-right:1px solid #ccc;
                }
                .otherBrandStory{
                    width: 300px;
                    text-align:center;
                    line-height: 50px;
                    p:nth-child(1){
                        font-size:20px;
                    }
                    p:nth-child(2) a{
                        color:#909090;
                        padding:10px 20px;
                        border:1px solid #ccc;
                    }
                }
            }
        }
        .goodsDetails{
            padding:0px 20px;
            background: #fff;
            height: 2036px;
            margin-bottom:40px;
            ul {
                width: 100%;
                height: 1956px;
                overflow:hidden;
                li{
                    width: 555px;height: 652px;
                    padding:0px 35px 70px 35px;
                    float:left;
                    img{
                        width: 485px;
                        display:inline-block;
                    }
                }
            }
            
        }
        .yourLike{
            margin:0px;
        }
        .gray{
            height: 30px;
        }
        .goodsCommend .commendP,.goodsInformation .commendP,.brandStory .commendP,.goodsDetails .commendP,.yourLike .commendP{
                height: 80px;
                border-bottom:1px solid #ccc;
                background: url(../img/details_m.png) 0px 20px no-repeat;
                padding:15px 0px;
                font-size:14px;
                color:#999;
                p{
                    padding-left:65px;
                }
                p:nth-child(2){
                    font-size:12px;
                    color:#666;
                }
            }
    }
}
