@import 'var';
main{
    height:$goodslistMainHeight;
    background: #F5F5F5;
    padding-top:25px;
    .container{
        height:$goodslistMainHeight;
        position: relative;
        h2{
            height:72px;
            background: #fff;
            line-height: 72px;
            padding-left:14px;
            font-size:32px;
            margin-bottom:10px;
        }
        .nav{
            width: 267px;

            .goods{
                // height: 52px;
                background: #fff;
                margin-bottom: 10px;
                padding: 0 10px;
                .clearfixP{
                    line-height: 52px;
                    font-size: 14px;
                    cursor: pointer;
                    .spanFl,.spanFr{
                        display:block;
                    }
                    .spanFr,.slideUp{
                        font-size:24px;
                        font-family: "宋体";
                    }
                }
                .goodsType,.gender,.goodsBrand,.goodsPrice,.goodsColor{   
                    font-size:10px;
                    border-top:1px solid #ccc;
                    display:none;
                    li{
                        padding:6px;
                        span{
                            padding-left:5px;
                        }
                    }
                    input{
                        width: 16px;
                        height: 16px;
                        border:1px solid #ccc;
                    }
                }
                .goodsType{
                    height: 288px;
                    li{
                        cursor: pointer;
                        position:relative;
                        i{
                            width: 14px;
                            height: 14px;
                            display:block;
                            background: url(../img/goodslist.gif) 0px 14px;
                            position:absolute;top:8px;
                        }
                        span{
                            padding-left:20px;
                        }
                    } 
                }
                .goodsPrice{
                    padding-top:30px;
                    input{
                        width: 110px;
                        height: 30px;
                    }
                    span{
                        padding:0px 10px;
                    }
                    .btnP{
                        padding-top:20px;
                        button{
                            cursor: pointer;
                            width: 100%;
                            height: 34px;
                            background: #333;
                            color: #fff;
                            text-align: center;
                            line-height: 34px; 
                        }
                    }
                }
                .goodsColor{
                    ul li{
                        position:relative;
                        span{
                            padding-left:30px;
                        }
                        i{
                            display:block;
                            width: 22px;
                            height: 22px;
                            
                        }
                        
                        
                    }
                    ul:nth-child(1) li:nth-child(1) i{
                        background:url(../img/goodslist1.gif);
                        position:absolute;top:5px;left:27px;
                    }
                    ul:nth-child(1) li:nth-child(2) i{
                        background:url(../img/goodslist1.gif) -22px;
                        position:absolute;top:5px;left:27px;
                    }
                    ul:nth-child(1) li:nth-child(3) i{
                        background:url(../img/goodslist1.gif) -44px;
                        position:absolute;top:5px;left:27px;
                    }
                    ul:nth-child(1) li:nth-child(4) i{
                        background:url(../img/goodslist1.gif) -66px;
                        position:absolute;top:5px;left:27px;
                    }
                    ul:nth-child(1) li:nth-child(5) i{
                        background:url(../img/goodslist1.gif) -88px;
                        position:absolute;top:5px;left:27px;
                    }
                    ul:nth-child(1) li:nth-child(6) i{
                        background:url(../img/goodslist1.gif) -110px;
                        position:absolute;top:5px;left:27px;
                    }
                    ul:nth-child(1) li:nth-child(7) i{
                        background:url(../img/goodslist1.gif) -132px;
                        position:absolute;top:5px;left:27px;
                    }
                    ul:nth-child(1) li:nth-child(8) i{
                        background:url(../img/goodslist1.gif) -154px;
                        position:absolute;top:5px;left:27px;
                    }
                    ul:nth-child(1) li:nth-child(9) i{
                        background:url(../img/goodslist1.gif) -176px;
                        position:absolute;top:5px;left:27px;
                    }
                    ul:nth-child(2) li:nth-child(1) i{
                        background:url(../img/goodslist1.gif) -198px;
                        position:absolute;top:5px;left:27px;
                    }
                    ul:nth-child(2) li:nth-child(2) i{
                        background:url(../img/goodslist1.gif) -220px;
                        position:absolute;top:5px;left:27px;
                    }
                    ul:nth-child(2) li:nth-child(3) i{
                        background:url(../img/goodslist1.gif) -242px;
                        position:absolute;top:5px;left:27px;
                    }
                    ul:nth-child(2) li:nth-child(4) i{
                        background:url(../img/goodslist1.gif) -264px;
                        position:absolute;top:5px;left:27px;
                    }
                    ul:nth-child(2) li:nth-child(5) i{
                        background:url(../img/goodslist1.gif) -286px;
                        position:absolute;top:5px;left:27px;
                    }
                    ul:nth-child(2) li:nth-child(6) i{
                        background:url(../img/goodslist1.gif) -308px;
                        position:absolute;top:5px;left:27px;
                    }
                    ul:nth-child(2) li:nth-child(7) i{
                        background:url(../img/goodslist1.gif) -330px;
                        position:absolute;top:5px;left:27px;
                    }
                    ul:nth-child(2) li:nth-child(8) i{
                        background: #fff;
                        border:1px solid #ccc;
                        position:absolute;top:5px;left:27px;
                    }
                }
                
            }
        }
        .goodslist{
            width: 928px;
            height: 8912px;
            .topNav{
                margin:0px 0px 5px 5px;
                height: 56px;
                font-size:10px;
                line-height: 56px;
                color:#555;
                text-align:center;
                background: #fff;
                span,i{
                    cursor:pointer;
                }
                ul:nth-child(1){
                    li{
                        width: 80px;
                        height: 56px;
                    }
                }
                ul:nth-child(2){
                    li{
                        position:relative;
                        width: 36px;
                        height: 56px;
                        &:nth-child(1){
                            width: 85px;
                        }
                        &:last-child{
                            // position:relative;
                            height: 56px;
                            i{
                                width: 20px;
                                height: 20px;
                                display:block;
                                background: url(../img/goodslist2.gif) -20px -20px;
                                position:absolute;top:18px;
                            }
                        }
                        span{
                            padding:2px 5px;

                        }
                        &:nth-child(2) span{
                            background: #000;
                            color:#fff;
                        }
                        
                    }
                }
            }
            .goodsList{
                height: 8756px;
                width: 100%;
                li{
                    margin:0px 0px 5px 5px;
                    background: #fff;
                    width: 227px;
                    height: 392px;
                    font-size:10px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    padding:20px 10px;
                    .nameP{
                        font-weight:bold;
                    }
                    p{
                        padding:0px 20px;
                        line-height: 30px;
                    }
                    
                }
            }
            .bottomNav{
                width: 100%;
                height: 56px;
                font-size:10px;
                line-height: 56px;
                color:#555;
                text-align:center;
                 ul{
                    li{
                        position:relative;
                        width: 36px;
                        height: 56px;
                        &:nth-child(1){
                            width: 85px;
                        }
                        &:last-child{
                            // position:relative;
                            height: 56px;
                            i{
                                width: 20px;
                                height: 20px;
                                display:block;
                                background: url(../img/goodslist2.gif) -20px -20px;
                                position:absolute;top:18px;
                            }
                        }
                        span{
                            padding:2px 5px;

                        }
                        &:nth-child(2) span{
                            background: #000;
                            color:#fff;
                        }
                        
                    }
                }
            }

        }
    }
}
.consult{
    width: 60px;
    position:fixed;
    top:300px;
    right:10px;
    background: #fff;
    z-index:200;
    li{
        height: 60px;
        width: 100%;
        border:1px solid #ccc;
        position:relative;
        i{
            width: 35px;
            height: 35px;
            display:block;
        }
    }
    li:nth-child(1) i{
        background:url(../img/goodslist3.png);
        position:absolute;top:12px;left:11.5px;
    }
    li:nth-child(2) i{
        background:url(../img/goodslist3.png) 0px -35px;
        position:absolute;top:12px;left:11.5px;
    }
    li:nth-child(3) i{
        background:url(../img/goodslist3.png) 0px -70px;
        position:absolute;top:12px;left:11.5px;
    }
    li:nth-child(4) i{
        background:url(../img/goodslist3.png) 0px -105px;
        position:absolute;top:12px;left:11.5px;
    }
}